{% extends "base.html" %}

{% block content %}
    <h2>Yeni Olay Bildir</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        
        <div>
            {{ form.title.label }}<br>
            {{ form.title() }}
            {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <br>
        <div>
            {{ form.description.label }}<br>
            {{ form.description() }}
            {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <br>
        <div>
            {{ form.category.label }}<br>
            {{ form.category() }}
            {% for error in form.category.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <br>
        <div>
            {{ form.neighborhood_name.label }}<br>
            {{ form.neighborhood_name() }}
            {% for error in form.neighborhood_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <br>
        <div>
            {{ form.latitude.label }}<br>
            {{ form.latitude() }}
            {% for error in form.latitude.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <br>
        <div>
            {{ form.longitude.label }}<br>
            {{ form.longitude() }}
            {% for error in form.longitude.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <br>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
